<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="DevExpress Feed" value="https://nuget.devexpress.com/Ikbu1q1j3rFYMvemEc964PRNfZ1eoJ8hVXk9PY8MzGNuDYV22G/api/v3/index.json" />
  </packageSources>
</configuration>
