@page "/"
@attribute [Authorize]

<h1>OvčinaHra</h1>

<AuthorizeView>
    <Authorized>
        <p>Vítej, <strong>@context.User.Identity?.Name</strong>! Vyber si sekci z menu vlevo.</p>
    </Authorized>
</AuthorizeView>
